<div class="container-fluid">
  <div class="row no-gutter">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image"></div>
    <!-- The content half -->
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">

        <!-- Demo content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="display-4">Login</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                  <input id="inputEmail" type="username" formControlName="username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="User Name address" required=""
                    autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">User Name is required</div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input id="inputPassword" type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" required=""
                    class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>
                <button type="submit"
                  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login</button>             
              </form>
            </div>
          </div>
        </div><!-- End -->

      </div>
    </div><!-- End -->

  </div>
</div>

<!-- <div class="container" style="padding-top:60px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card-group">  
          <div class="card p-4">  
            <div class="card-body">  
              <form name="form" (ngSubmit)="login()" style="text-align:center" >
                <h1 >Login</h1>  
                 
                <div class="input-group mb-3">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text"><i class="icon-user"></i></span>  
                  </div> 
                  <label>Email </label> 
                  <input type="text" name="UserName"class="form-control sty1" placeholder="Email" required>  
                </div>  
                <div class="input-group mb-4">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text"><i class="icon-lock"></i></span>  
                  </div> 
                  <label>Password </label>  
                  <input  type="password" name="Passward" class="form-control"  
                 placeholder="Password">  
                </div>  
                <div>  
                    <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
                      {{errorMessage}}  
                    </p>  
                  </div>  
                <div class="row">  
                  <div class="col-6">  
                    <button type="submit" class="btn btn-primary px-4" > Login</button> 
                     
                  </div>  
                  <div class="col-6 text-right">  
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>  
                  </div>  
                </div>  
                  
              </form>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>   -->