<div class="container">
    <div class="container-header">
        <div class="container-title text-center">Create Employee Form</div>
        <div>
            <button type="button" name="button" (click)="logOut();">
                Log Out
            </button>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <button type="button" name="button" (click)="backToList();">
                    Back To List
                </button>
            </div>
        </div>
    </div>
    <div class="container-body">

    </div>
</div>